# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/
out
gen
.gitignore
baitulilm/__pycache__/
baitulilm/static/admin/fonts/
baitulilm/static/admin/img/
baitulilm/static/admin/js/vendor/
baitulilm/static/ckeditor/ckeditor/adapters/
baitulilm/static/ckeditor/ckeditor/lang/ca.js
baitulilm/static/ckeditor/ckeditor/lang/cy.js
baitulilm/static/ckeditor/ckeditor/lang/da.js
baitulilm/static/ckeditor/ckeditor/lang/de.js
baitulilm/static/ckeditor/ckeditor/lang/en-gb.js
baitulilm/static/ckeditor/ckeditor/lang/en.js
baitulilm/static/ckeditor/ckeditor/lang/eo.js
baitulilm/static/ckeditor/ckeditor/lang/es.js
baitulilm/static/ckeditor/ckeditor/lang/fo.js
baitulilm/static/ckeditor/ckeditor/lang/fr.js
baitulilm/static/ckeditor/ckeditor/lang/is.js
baitulilm/static/ckeditor/ckeditor/lang/ja.js
baitulilm/static/ckeditor/ckeditor/lang/ka.js
baitulilm/static/ckeditor/ckeditor/lang/km.js
baitulilm/static/ckeditor/ckeditor/lang/ku.js
baitulilm/static/ckeditor/ckeditor/lang/lt.js
baitulilm/static/ckeditor/ckeditor/lang/nb.js
baitulilm/static/ckeditor/ckeditor/lang/nl.js
baitulilm/static/ckeditor/ckeditor/lang/no.js
baitulilm/static/ckeditor/ckeditor/lang/ro.js
baitulilm/static/ckeditor/ckeditor/lang/si.js
baitulilm/static/ckeditor/ckeditor/lang/sl.js
baitulilm/static/ckeditor/ckeditor/lang/sq.js
baitulilm/static/ckeditor/ckeditor/lang/tt.js
baitulilm/static/ckeditor/ckeditor/lang/vi.js
baitulilm/static/ckeditor/ckeditor/lang/zh.js
baitulilm/static/ckeditor/ckeditor/plugins/
baitulilm/static/ckeditor/ckeditor/skins/
baitulilm/static/ckeditor/file-icons/
baitulilm/static/ckeditor/galleriffic/
baitulilm/static/css/
baitulilm/static/fonts/
baitulilm/static/images/
baitulilm/static/jet/css/themes/light-blue/
baitulilm/static/jet/css/themes/light-gray/
baitulilm/static/jet/css/themes/light-green/
baitulilm/static/jet/css/themes/light-violet/
baitulilm/static/jet/js/
baitulilm/static/js/app.js
baitulilm/static/js/bootstrap-slider.js
baitulilm/static/js/bootstrap.min.js
baitulilm/static/js/classie.js
baitulilm/static/js/dl-menu/
baitulilm/static/js/functions.js
baitulilm/static/js/googlemap.js
baitulilm/static/js/jquery.bxslider.min.js
baitulilm/static/js/jquery.counterup.min.js
baitulilm/static/js/owl.carousel.js
baitulilm/static/js/waypoints.min.js
baitulilm/static/mptt/
baitulilm/static/range_filter/
baitulilm/static/star-ratings/
baitulilm/static/zinnia/
bookstore/__pycache__/
bookstore/migrations/__pycache__/

