{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    blog Category Name
{% endblock %}

{% block content %}
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <div class="container">
            <div class="row">
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single2.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single3.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single4.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single5.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single6.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single7.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-single-blog">
                        <figure>
                            <a href="#"><img src="images/blog-single2.png" alt=""></a>
                        </figure>
                        <div class="kode-text">
                            <div class="kode-date">
                                16
                                <span>May</span>
                            </div>
                            <h3>Books are your friends</h3>
                            <p>By : John Adam</p>
                        </div>
                    </div>
                </div>
                <!--LIST ITEM END-->
            </div>
            <!--PAGINATION START-->
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--PAGINATION END-->
        </div>
    </div>
    <!--CONTENT END-->
{% endblock %}