{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Blog Post Item Title
{% endblock %}

{% block content %}
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <div class="container">
            <div class="row">
                <!--SIDEBAR START-->
                <div class="col-md-3 sidebar hide-on-med-down">
                    <!--SEARCH WIDGET START-->
                    <div class="widget widget-search">
                        <h2>Search</h2>
                        <div class="input-container">
                            <input type="text" placeholder="Enter Keyword">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <!--SEARCH WIDGET END-->
                    <!--CATEGORY WIDGET START-->
                    <div class="widget widget-categories">
                        <h2><a href="blog-category.html">Categories</a></h2>
                        <ul>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">web/Graphic Design</a></li>
                            <li><a href="#">Mobile Development</a></li>
                            <li><a href="#">Video Editing</a></li>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">web/Graphic Design</a></li>
                            <li><a href="#">Mobile Development</a></li>
                            <li><a href="#">Video Editing</a></li>
                        </ul>
                    </div>
                    <!--CATEGORY WIDGET END-->
                    <!--SUBSCRIBE WIDGET START-->
                    <div class="widget widget-newletter">
                        <h2>Stay Tuned</h2>
                        <div class="input-container">
                            <input type="text" placeholder="Subscribe Us">
                            <button>Submit</button>
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--SUBSCRIBE WIDGET START-->
                    <!--LATEST POST START-->
                    <div class="widget widget-latest-post">
                        <h5>Lates Posts</h5>
                        <ul>
                            <li>
                                <div class="kode-thumb">
                                    <a href="#"><img src="images/post-avaitar.png" alt=""></a>
                                </div>
                                <div class="kode-text">
                                    <h4>Lorem ipsum dolorsit amet adipiscing </h4>
                                    <p>25 December, 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="kode-thumb">
                                    <a href="#"><img src="images/post-avaitar.png" alt=""></a>
                                </div>
                                <div class="kode-text">
                                    <h4>Lorem ipsum dolorsit amet adipiscing </h4>
                                    <p>25 December, 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="kode-thumb">
                                    <a href="#"><img src="images/post-avaitar.png" alt=""></a>
                                </div>
                                <div class="kode-text">
                                    <h4>Lorem ipsum dolorsit amet adipiscing </h4>
                                    <p>25 December, 2015</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--LATEST POST END-->
                    <!--INSTAGRAM WIDGET START-->
                    <div class="widget widget-instagram">
                        <h2>Instagram</h2>
                        <ul>
                            <li><a href="#"><img src="images/instagram1.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram2.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram3.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram4.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram1.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram2.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram3.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram4.png" alt=""></a></li>
                            <li><a href="#"><img src="images/instagram1.png" alt=""></a></li>
                        </ul>
                    </div>
                    <!--INSTAGRAM WIDGET END-->
                    <!--ARCHIVE WIDGET START-->
                    <div class="widget widget-archive">
                        <h2>Archive</h2>
                        <ul>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">web/Graphic Design</a></li>
                            <li><a href="#">Mobile Development</a></li>
                            <li><a href="#">Video Editing</a></li>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">web/Graphic Design</a></li>
                            <li><a href="#">Mobile Development</a></li>
                            <li><a href="#">Video Editing</a></li>
                        </ul>
                    </div>
                    <!--ARCHIVE WIDGET END-->
                    <!--ADVERTIZMENT WIDGET START-->
                    <div class="widget widget-advertizement">
                        <h2>Advertizement</h2>
                        <div class="kode-thumb">
                            <a href="#"><img src="images/add.png" alt=""></a>
                        </div>
                    </div>
                    <!--ADVERTIZMENT WIDGET END-->
                </div>
                <!--SIDEBAR END-->
                <div class="col-md-9">
                    <!--BLOG FULL LIST START-->
                    <div class="kode-blog-detail">
                        <div class="kode-thumb">
                            <a href="#"><img src="images/blog-detail-img.png" alt=""></a>
                            <div class="kode-blog-date">
                                <p>16
                                    <small>May</small>
                                </p>
                            </div>
                        </div>
                        <div class="kode-detail-meta">
                            <!--USER PROFILE START-->
                            <div class="kode-user">
                                <div class="user-thumb">
                                    <a href="#"><img src="images/user1.png" alt=""></a>
                                </div>
                                <div class="user-profile">
                                    <h4>Anni Hollin, <span>Author</span></h4>
                                    <p>Books designer</p>
                                </div>
                            </div>
                            <!--USER PROFILE END-->
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart"></i>208 likes</a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i>71 comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="kode-text">
                            <h2>Where I’m Reading From: The Changing World of Books Now</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.</p>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                                et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.</p>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                    takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>

                    </div>
                    <!--BLOG FULL LIST END-->
                    <div class="post-next-previous">
                        <a href="#" class="pull-left"><i class="fa fa-angle-left"></i>Previous Post</a>
                        <a href="#" class="pull-right">Next Post<i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="kode-author-detail">
                        <div class="kode-thumb">
                            <img src="images/author.png" alt="">
                        </div>
                        <div class="kode-text">
                            <h4>Jhony Thapya</h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--LATEST COMMENTS START-->
                    <div class="kode-comments">
                        <h2>132 comments</h2>
                        <ul>
                            <li>
                                <div class="kode-thumb">
                                    <a href="#"><img src="images/author14.png" alt=""></a>
                                </div>
                                <div class="kode-text">
                                    <h4>Saul Bellow</h4>
                                    <p class="designation">JUNE 20, 2015</p>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                        no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </li>
                            <li>
                                <div class="kode-thumb">
                                    <a href="#"><img src="images/author14.png" alt=""></a>
                                </div>
                                <div class="kode-text">
                                    <h4>Saul Bellow</h4>
                                    <p class="designation">JUNE 20, 2015</p>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                        no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                                <ul>
                                    <li>
                                        <div class="kode-thumb">
                                            <a href="#"><img src="images/author14.png" alt=""></a>
                                        </div>
                                        <div class="kode-text">
                                            <h4>Saul Bellow</h4>
                                            <p class="designation">JUNE 20, 2015</p>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                                amet.</p>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kode-thumb">
                                            <a href="#"><img src="images/author14.png" alt=""></a>
                                        </div>
                                        <div class="kode-text">
                                            <h4>Saul Bellow</h4>
                                            <p class="designation">JUNE 20, 2015</p>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                                amet.</p>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="kode-thumb">
                                    <a href="#"><img src="images/author15.png" alt=""></a>
                                </div>
                                <div class="kode-text">
                                    <h4>Marry Beard</h4>
                                    <p class="designation">July 29, 2015</p>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                        no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--LATEST COMMENTS END-->
                    <!--COMMENT FORM START-->
                    <div class="comment-form">
                        <h2>Write Your Review</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Phon">
                            </div>
                            <div class="col-md-12">
                                <textarea></textarea>
                            </div>
                            <div class="col-md-12">
                                <button>Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--COMMENT FORM END-->
                </div>
            </div>
        </div>
    </div>
    <!--CONTENT END-->
{% endblock %}