{% load staticfiles %}
{% load i18n %}
{% load static %}
<div class="kode-inner-banner">
    <div class="kode-page-heading">
        <h2>Books and Media</h2>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/bookstore">Books and Media</a></li>
            <li class="active">Books and Media</li>
        </ol>
    </div>
    <div class="container">
        <div class="banner-search">
            <div class="row">
                <div class="col-md-2">
                    <h2>Search<br> Your Books</h2>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Enter Your Title">
                </div>
                <div class="col-md-2">
                    <select>
                        <option value="all">All Categories</option>
                        <option value="fiqh">Fiqh</option>
                        <option value="seerah">Seerah</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button>Search</button>
                </div>
            </div>
        </div>
    </div>
</div>