{% load staticfiles %}
{% load i18n %}
{% load static %}
<div class="kode-banner">
    <ul class="bxslider">
        <li>
            <img src="{% static 'images/banner-1.png' %}" alt="">
            <div class="kode-caption">
                <h2>book guide</h2>
                <h5>online books store</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor<br>emque
                    laudantium, totam rem aperiam.ipsam voluptatem.</p>
                <div class="input-container">
                    <input type="text" placeholder="Enter Your Book Title Here">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </li>
        <li>
            <img src="{% static 'images/banner-2.png' %}" alt="">
            <div class="kode-caption">
                <h2>book Reading</h2>
                <h5>Best Book Available</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor<br>emque
                    laudantium, totam rem aperiam.ipsam voluptatem.</p>
                <div class="input-container">
                    <input type="text" placeholder="Enter Your Book Title Here">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </li>
        <li>
            <img src="{% static 'images/banner-3.png' %}" alt="">
            <div class="kode-caption">
                <h2>Book Store</h2>
                <h5>Books Guiders</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor<br>emque
                    laudantium, totam rem aperiam.ipsam voluptatem.</p>
                <div class="input-container">
                    <input type="text" placeholder="Enter Your Book Title Here">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </li>
    </ul>
</div>