{% load staticfiles %}
{% load i18n %}
{% load static %}
<div class="kode-inner-banner">
    <div class="kode-page-heading">
        <h2>Baitul Ilm</h2>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/bookstore">Books and Media</a></li>
            <li class="active">Books and Media</li>
        </ol>
    </div>
    <div class="container">
        <div class="banner-search">
            <div class="row">
                <div class="col-md-2">
                    <h2>Search<br> Your Books</h2>
                </div>
                <form method="get" action="/search/">
                    <div class="col-md-7">
                        <input name="q" id="id_q" type="search" placeholder="Enter Your Title">
                    </div>
                    <div class="col-md-3">
                        <button value="Submit" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>