{% load staticfiles %}
{% load i18n %}
{% load static %}
<div class="count-up-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="count-up">
                    <span class="counter circle">3578</span>
                    <p>Books To Read</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="count-up">
                    <span class="counter circle">589</span>
                    <p>Online Users</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="count-up">
                    <span class="counter circle">1250</span>
                    <p>Best Authors</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="count-up">
                    <span class="counter circle">57</span>
                    <p>Awards</p>
                </div>
            </div>
        </div>
    </div>
</div>