{% load staticfiles %}
{% load i18n %}
{% load static %}
<section class="kode-newsletters">
    <div class="container">
        <!--SECTION CONTENT START-->
        <div class="section-content white">
            <h2>Subscribe to our Newsletter for the latest news.</h2>
            <p>Update your-self right now! By filling the form below, the lastest information about a thousand books
                will be sent directly to your email weekly.</p>
        </div>
        <!--SECTION CONTENT END-->
        <div class="input-container">
            <input type="text" placeholder="Subscribe us">
            <button>Subscribe</button>
        </div>
    </div>
</section>