{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}
{% load ratings %}
{% load tagging_tags %}

{% block title %}
    Authors
{% endblock %}

{% block content %}
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <!--TOP AUTHORS START-->
        <div class="container">
            <div class="row">
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author4.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Chinua Achebe</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author5.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Alege Ali</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author6.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Quentin Blake</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author4.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Chinua Achebe</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author5.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Alege Ali</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author6.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Quentin Blake</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author4.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Chinua Achebe</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author5.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Alege Ali</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
                <!--AUTHOR LIST START-->
                <div class="col-md-4 col-sm-6">
                    <div class="kode-author">
                        <a href="author-detail.html"><img src="{% static 'images/author6.png' %}" alt=""></a>
                        <div class="kode-caption">
                            <h4>Quentin Blake</h4>
                            <p>Authors</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--AUTHOR LIST END-->
            </div>
            <!--PAGINATION START-->
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--PAGINATION END-->
        </div>
        <!--TOP AUTHORS END-->
    </div>
    <!--CONTENT END-->
{% endblock %}