{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Books
{% endblock %}

{% block content %}
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <div class="container">
            <div class="row">
                <!--SIDEBAR START-->
                <div class="col-md-3 sidebar hide-on-med-down">
                    <!--SEARCH WIDGET START-->
                    <div class="widget widget-search">
                        <h2>Search</h2>
                        <div class="input-container">
                            <input type="text" placeholder="Enter Keyword">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <!--SEARCH WIDGET END-->
                    <!--PRICE FILTER WIDGET(YEAR OF PUBLICATION FILTER WIDGET) START-->
                    <div class="widget widget-price-filter">
                        <h2>Filter by Pub Year</h2>
                        <b>1970</b>
                        <b class="pull-right">2017</b>
                        <input id="ex2" type="text" class="span2" value="" data-slider-min="1970" data-slider-max="2017"
                               data-slider-step="1" data-slider-value="[1970,1990]"/>
                        <a href="#" class="filter">Filter</a>
                    </div>
                    <!--PRICE FILTER WIDGET(YEAR OF PUBLICATION FILTER WIDGET) END-->
                    <!--MOST RECENT(NEW ARRIVAL) WIDGET START-->
                    <div class="widget widget-new-arrival">
                        <h2>MOST RECENT</h2>
                        <ul class="bxslider">
                            <li>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival2.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival1.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et</p>
                                    </div>
                                </div>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival3.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival3.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival2.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival1.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--MOST RECENT(NEW ARRIVAL) WIDGET END-->
                    <!--CATEGORY WIDGET START-->
                    <div class="widget widget-categories">
                        <h2>Categories</h2>
                        <ul>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">web/Graphic Design</a></li>
                            <li><a href="#">Mobile Development</a></li>
                            <li><a href="#">Video Editing</a></li>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">web/Graphic Design</a></li>
                            <li><a href="#">Mobile Development</a></li>
                            <li><a href="#">Video Editing</a></li>
                        </ul>
                    </div>
                    <!--CATEGORY WIDGET END-->
                    <!--MOST DOWNLOADED/MOST RATED(NEW ARRIVAL) WIDGET START-->
                    <div class="widget widget-new-arrival">
                        <h2>Most Downloaded</h2>
                        <ul>
                            <li>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival1.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival2.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="new-arrival">
                                    <div class="kode-thumb">
                                        <a href="#"><img src="images/new-arrival3.png" alt=""></a>
                                    </div>
                                    <div class="kode-text">
                                        <h3>consetetur sadip scing</h3>
                                        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--MOST DOWNLOADED/MOST RATED(NEW ARRIVAL) WIDGET END-->
                </div>
                <!--SIDEBAR END-->
                <!--MAIN CONTENT START-->
                <div class="col-md-9">
                    <div class="row">
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="images/book5.png" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3>PENDRAGON</h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>PENDRAGON Dr.Machale</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Dr.Machale</p>
                                    <p class="kode-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        Lorem ipsum dolor sit amet, consectetur adi 120word
                                    </p>
                                    <a href="book-detail.html" class="add-to-cart">View Details</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="images/book6.png" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Bridget Jones</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Mad About the Boy</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Helen Fielding</p>
                                    <p class="kode-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        Lorem ipsum dolor sit amet, consectetur adi 120word
                                    </p>
                                    <a href="#" class="add-to-cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="images/book7.png" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Burnt Siena</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Art History Mystery</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Sara Wisseman</p>
                                    <p class="kode-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        Lorem ipsum dolor sit amet, consectetur adi 120word
                                    </p>
                                    <a href="#" class="add-to-cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="images/book8.png" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Chrysalis</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>The Brave Girl</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>William S.</p>
                                    <p class="kode-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        Lorem ipsum dolor sit amet, consectetur adi 120word
                                    </p>
                                    <a href="#" class="add-to-cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book10.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">The Winning</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>The Winning Story</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Mind Set</p>
                                    <p class="price">$447.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book2.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Dead Water</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Dead Water in the Sea</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Ann Grannger</p>
                                    <p class="price">$777.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book3.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">The Fault In our Stars</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Paper Towns</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Daniel Abraham</p>
                                    <p class="price">$770.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book4.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">The Ruby Of Egypt</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>The Ruby Of Egypt</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Cat Howard</p>
                                    <p class="price">$996.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book5.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Fableheaven</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Fableheaven The Master</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Brandon Hall</p>
                                    <p class="price">$542.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book6.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Star Trek</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Star Trek Course</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>DisAvowed</p>
                                    <p class="price">$821.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book7.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">City Of Bones</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>City Of Bones Lies here</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Cassandra Clare</p>
                                    <p class="price">$362.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="images/book8.png">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Annette Blair</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Annette Blair The Maker</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Vampire Dragon</p>
                                    <p class="price">$599.75</p>
                                    <a class="add-to-cart" href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                    </div>
                    <!--PAGINATION START-->
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--PAGINATION END-->
                </div>
                <!--MAIN CONTENT END-->
            </div>
        </div>
    </div>
    <!--CONTENT END-->
{% endblock %}