{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}
{% load ratings %}
{% load tagging_tags %}

{% block title %}
    Books
{% endblock %}

{% block content %}
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <div class="container">
            <div class="row">
                <!--SIDEBAR START-->
                {% include 'sidebar.html' %}
                <!--SIDEBAR END-->
                <!--MAIN CONTENT START-->
                <div class="col-md-9">
                    {% if books %}
                    <div class="row">
                    {% for book in books %}
                        {% if book.is_public == True %}
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="{{ MEDIA_URL }}{{ book.cover_image }}" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3>{{ book.title }}</h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>{{ book.title }}</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    {% for author in book.authors.all %}
                                        <p>{{ author.first_name }} {{ author.last_name }}</p>
                                    {% endfor %}
                                    <p class="price">${{ book.price }}</p>
                                    <a href="/bookstore/book/{{ book.slug }}" class="add-to-cart">View Details</a>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        {% endif %}
                    {% endfor %}
                    </div>
                    <!--PAGINATION START-->
                    <nav>
                        <ul class="pagination">
                            {% if books.has_previous %}
                            <li>
                                <a href="?page={{ books.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in books.paginator.page_range %}
                                {% if books.number == i %}
                                    <li class="active"><a href="#">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                            <li>
                                <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <!--PAGINATION END-->
                    {% else %}
                        <p>
                            There are no Post Currently, Please check back later.
                        </p>
                    {% endif %}
                </div>
                <!--MAIN CONTENT END-->
            </div>
        </div>
    </div>
    <!--CONTENT END-->
{% endblock %}