{% extends "base.html" %}
{% load staticfiles %}
{% load tagging_tags %}
{% load i18n %}
{% load static %}
{% load ratings %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <div class="container">
            <div class="row">
                {% include 'sidebar.html' %}
                <div class="col-md-9">
                    <!--BOOK DETAIL START-->
                    <div class="lib-book-detail">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="kode-thumb">
                                    <img src="{{ MEDIA_URL }}{{ book.cover_image }}" alt="book cover album">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="kode-text">
                                    <h2>{{ book.title }}</h2>
                                    <div class="product-review">
                                        <div class="rating">
                                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
                                        <h4>You Rated: 4.5 - Rating Average: 3.5</h4>
                                        <p>{{ book.reviews.count }} Customer Reviews</p>
                                    </div>
                                    <div class="product-price">
                                        <h4>${{ book.price }}</h4>
                                        {% for author in book.authors.all %}
                                        <p>Author : <a href="#"><span class="color">
                                                    {{ author.first_name }} {{ author.last_name }}
                                                    </span></a>
                                        </p>
                                        {% endfor %}
                                    </div>
                                    <div class="book-text">
                                        <p>
                                            {{ book.intro }}
                                        </p>
                                    </div>
                                    <div class="book-text">
                                        <p>Category: {{ book.category.title }}</p>
                                        <p>Author :
                                        {% for author in book.authors.all %}
                                        {{ author.first_name }} {{ author.last_name }}
                                        {% endfor %}
                                        </p>
                                        <p>Publisher: {{ book.publisher.name }}</p>
                                        <p>Year of Publication: {{ book.publication_year }}</p>
                                        <p>Number of Pages: {{ book.pg_number }}</p>
                                        <p>Language: {{ book.language }}</p>
                                        <p>Book ISBN: {{ book.isbn }}</p>
                                        <p>Book ID: {{ book.id }}</p>
                                    </div>
                                    <a href="/bookstore/download/{{ book.upload.path | urlencode }}" class="add-to-cart">Download</a>
                                    <a href="#" class="add-to-cart" data-toggle="modal" data-target="#myModal">
                                        Add A Review
                                    </a>
                                    <!--<a href="#" class="add-to-cart">Read Online(Add To Shelve)</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BOOK DETAIL END-->

                    <!--PRODUCT REVIEW TABS START-->
                    <div class="product-review-tabs">
                        <!--NAV TABS START-->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Description " aria-controls="Description"
                                                                      role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab"
                                                       data-toggle="tab">Reviews</a></li>
                            <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">Tags</a>
                            </li>
                            <li role="presentation"><a href="#author" aria-controls="author" role="tab"
                                                       data-toggle="tab">About the Authors</a></li>
                        </ul>
                        <!--NAV TABS END-->
                        <!--TAB PANEL START-->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="Description">
                                {{ book.description | safe }}
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="reviews">
                                <div class="kode-comments">
                                    <ul>
                                        {% for review in book.reviews.all %}
                                        <li>
                                            <div class="kode-thumb">
                                                <a href="#"><img alt="reviewer avatar" src="{% static 'images/author14.png' %}"></a>
                                            </div>
                                            <div class="kode-text">
                                                <h4>{{ review.author }}</h4>
                                                <p class="designation">{{ review.created_date }}</p>
                                                <p>{{ review.text|linebreaks }}</p>
                                                <a class="reply" href="{% url 'view_book_detail' slug=book.slug %}">Reply</a>
                                            </div>
                                        </li>
                                        {% empty %}
                                        <li>
                                        <div class="kode-thumb">
                                            <a href="#"><img alt="" src="{% static 'images/author14.png' %}"></a>
                                        </div>
                                        <div class="kode-text">
                                            <h4>Admin</h4>
                                            <p class="designation">MONTH DAY, YEAR</p>
                                            <p>We are awaiting your reviews on this book. Click the "add a review" Button
                                                above to add Reviews.</p>
                                            <!--<a class="reply" href="#">Add A Review</a>-->
                                        </div>
                                    </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tags">
                                <div class="product-tags">
                                    {% for tag in tags %}<a href="#">{{tag.name}}</a>{% endfor %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="author">
                                {% for author in book.authors.all %}
                                    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
                                    {{ author.bio | safe }}
                                    <hr/>
                                {% endfor %}
                            </div>
                        </div>
                        <!--TAB PANEL END-->
                    </div>
                    <!--PRODUCT REVIEW TABS END-->

                    <!--RELATED PRODUCTS START-->
                    <div class="lib-related-products">
                        <h2>Related Books</h2>
                        <div class="row">
                            <!--PRODUCT GRID START-->
                            {% for related_book in related_books %}
                                {% if related_book.is_public == True %}
                                    <div class="col-md-4">
                                        <div class="best-seller-pro">
                                            <figure>
                                                <img src="{{ MEDIA_URL }}{{ related_book.cover_image }}" alt="">
                                            </figure>
                                            <div class="kode-text">
                                                <h3><a href="#">{{ related_book.title }}</a></h3>
                                            </div>
                                            <div class="kode-caption">
                                                <h3>{{ related_book.title }}</h3>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                                {% for author in related_book.authors.all %}
                                                <p>{{ author.first_name }} {{ author.last_name }}</p>
                                                {% endfor %}
                                                <p class="price">${{ related_book.price }}</p>
                                                <a href="/bookstore/book/{{ related_book.slug }}" class="add-to-cart">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!--PRODUCT GRID END-->
                        </div>
                    </div>
                    <!--RELATED PRODUCTS END-->
                </div>
            </div>
        </div>
    </div>
    <!--CONTENT END-->
{% endblock %}

{% block review %}
    <!--include login modal-->
    {% include 'common/review_modal_form.html' %}
{% endblock %}
